.sobreMi{

    background: #EAF2FD ;
    height: auto;
    color: #464646 ;
    

}

.sobreMi-contenido{

    width: 50%;
    align-items: center;
    margin-left: 5rem;
    
    
}

.sobreMi-contenido-titulo{

    font-size: 32px;
    font-weight: bold;
    padding-top: 2rem;
    margin-bottom: 1rem;
    
}

.sobreMi-contenido-parrafo{

    font-size: 16px;
    text-align: justify;
    line-height:1.5rem;
    
}

.sobreMi-contenido-imagen{

    transform: rotate(90deg);
    width: 70px;
    margin-left: 2rem;
    

}

@media screen and (max-width: 767px) {

    

    .sobreMi-contenido{

        width: 360px;
        margin: 0 2rem;
    }
    
    .sobreMi-contenido-titulo{

        width: 335px;
        font-size: 22px;
    }

    .sobreMi-contenido-parrafo{

        width: 335px;
        font-size: 14px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {

    .sobreMi-contenido{

        max-width: 991px;
        min-width: 768px;
        margin: 0 2rem;
        
        
    }
    
    .sobreMi-contenido-titulo{

        width: 95%;
        font-size: 22px;
    }

    .sobreMi-contenido-parrafo{

        
        font-size: 14px;
        margin-right: 2rem;
        width: 95%;
        
        
        
    }
 
}
